body {
    background-color: #231F20;
    color: white;
    font-family: "Krub", sans-serif;
}
section {
      background: #231F20;
      background: -webkit-linear-gradient(#231F20, #1d1c1c);
      background:    -moz-linear-gradient(#231F20, #1d1c1c);
      background:         linear-gradient(#231F20, #1d1c1c);
}
.strong-text {
    font-weight: 700;
}

.title-img {
    width: 75%;
}
.schedule-title {
    height:700px;
    margin-bottom: 50px;
}
.schedule-msg {
    margin-top:-275px;
}
.hline {
    margin-top: 50px;
}

.navbar {
    background-color: #231F20 !important;
    font-weight:70;
    margin-right:0px;
}
.nav-link {
    color: #ffffff !important;
    margin-left:20px;
}
.top-logo {
    width:120px;
}
.last {
    margin-right:-50px;
}

#homepage {
    height:100vh;
}

.faq-container {
    margin-left: 150px;
}

.learn {
    height:700px;
}

a {
    color: #009245;
}

.learn-img {
    margin-top: -80px;
    margin-bottom:50px;
}
.tracks{
    margin-left:-300px;
    margin-top: -30px;
}
#judges {
    background-color:#F7931E;
}

#contact {
    background-color: #93278F;
}

.container-fluid {
    padding: 0px;
}

.navbar-brand {
    position: relative;
  color: #000;
  text-decoration: none;
}
.navbar-brand:hover {
    color: #fff;

}
footer {
    background-color: #231F20 !important;
    font-weight:70;
}
.mta-brand {
    font-family: "Helvetica", sans-serif !important;
    line-height:1.6;
}
.big {
    font-size: 35pt;
    margin-bottom:50px;
}
.lead-in {
    margin-top:100px;
}
.section-title {
    font-size:50pt;
}
.content-begin {
    margin-top: 50px;
}
.first {
    margin-top:90px;
}
.underline {
    margin-top: -20px;
    margin-left:-3px;
}

.traintracks {
    margin-left: -40px;
    margin-top:-13px;
}

.first-event {
    margin-top: -640px;
    margin-left: 260px;
}

.second-event {
    margin-top:178px !important;
}

.third-event {
    margin-top:230px !important;
}
.event {
    margin-top:-15px;
    margin-left: 260px;
}

.line:hover {
    background:red;
}

.no-space {
    line-height: 1.0 !important;
}

.location {
    color: #CCCCCC;
}
.time {
    color: #999999;
}
.medium {
    font-size: 25pt;
}
